<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/navbar') %>
            <div class="container mt-3">
                <table class="table">
                    <thead>
                        <th>Airline</th>
                        <th>Airport</th>
                        <th>Flight No.</th>
                        <th>Departure Time</th>
                        <th>Flight Details</th>
                    </thead>
                    <tbody>
                        <% flights.forEach(flight=> { %>
                            <tr <%- flight.departs < currDate ? 'style="color: red"' : '' %> >
                                <td>
                                    <%= flight.airline %>
                                </td>
                                <td>
                                    <%= flight.airport %>
                                </td>
                                <td>
                                    <%= flight.flightNo %>
                                </td>
                                <td>
                                    <%= flight.departs %>
                                </td>
                                <td>
                                    <button class="btn btn-secondary btn-sm"><a href="/flights/<%= flight._id %>">
                                            DETAILS</a></button>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
                <button class="btn btn-primary"><a href="/flights/new">Add New Flight</a></button>
            </div>
    </body>

</html>